@import "../utilities/variables";
header{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid gray;
    img{
        width: 10rem;
    }

    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 5px;
                a{
                    text-decoration: none;
                    color: $color-negro;
                    font-family: $fuente-pricipal;
                    transition: 1s;
                    &:hover{
                        margin: 5px;
                        color: $color-azul;
                    }
                }
                
            }
        }
    }
    .plataforma{
        //background-color: white;
        display: flex;
        align-items: center;
        img{
            width: 25px;

        }
        a{
            margin: 15px;
            text-decoration: none;
            color: $color-azul;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}